<h1>Project view</h1>

<h2>{{ project.name }}</h2>
<p>{{ project.description }}</p>
<a href="{% url 'update-project' pk=project.pk %}">Change details</a>
<a href="{% url 'confirm-delete-project' pk=project.pk %}">Delete project</a>
<br />
{% include 'partials/create-project-task.html' with form=create_project_task_form %}
<br />
<ul>
    {% for task in tasks %}
    <li>{{ task.name }} - {{ task.description }} <a href="{% url 'update-project-task' pk=task.pk %}">Edit</a> | {% include 'partials/delete-project-task.html' with task=task %}</li>
    {% empty %}
    <li>No tasks</li>
    {% endfor %}
</ul>
<br />
<a href="{% url 'project-list' %}">Back to projects list</a>
